body {
    background-color: rgb(36, 36, 36);
}
a {
    color: rgb(78, 216, 92);
}

p {
        color: rgb(255, 255, 255);
}
h1 {
        color: aliceblue;
}
h2 {
        color: aliceblue;
}
title {
        color: aliceblue;
}
b {
        color: aliceblue;
}