.axis {
    position: absolute;
    z-index: 20;
}
.main-axis{

}ssss
.crossAxis {
                                                                                                                                                        
}
.container {
    width: 80%;
    height: auto;
    margin: 20px auto;
    border: 10px solid black;
    position: relative;
}
.cajaRoja {
    background-color: grey;
    width: 100px;
    height: 100px;
    font-weight: 900;
    color: azure;
    text-align: center;
    border: 10px solid red;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px 0;
}
.containerFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.containerCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.containerAround {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.containerBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.containerEvenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.containerEnd {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
